/* ------ Portfolio CSS Style ------ */ 
html{
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #453e4f;
  background-color: #f8f7fa;


}
.content-wrapper {
  width: 90%;
}


/* -- Header Styles -- */
header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  background-color: #453e4f;
  color: #ffe8d6;
  padding-top: 30px;
  padding-bottom: 60px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
}

nav #contact-link {
  background-color: #F19494;
  color: #453e4f;
  padding: 10px 10px;
  border-radius: 30px;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: list-item;
  line-height: 1.5;
}
header h2 {
  font-family: "Alike", serif;
  font-size: 1.25rem;
  color: #ffe8d6;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 60px;

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-weight: 700;
}
h2 {
  font-family: "Alike", serif;
  font-size: 1.25rem;
  color: #453E4F;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 60px;

}
h3 {
  font-family: 'Alike', serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

}
h4 {
  font-family: 'Alike', serif;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 40px 0;

}
h5{
  font-family: 'Alike', serif;
  font-size: 1.5rem;
  line-height: 1.5;
  width: 100%;

}
p {
  font-size: 1rem;
  line-height: 1.5;
}
a {
  color: #453E4F;
  text-decoration: none;
}
span {
  font-weight: 700;
}
figure {
  margin: 20px 0 40px 0;
}

img {
  width: 100%;
  /*vertical-align: middle;*/
}
header a {
  color: #ffe8d6;
  text-decoration: none;
}


/* -- Work Styles -- */
#work {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  padding-top: 60px;
}
#work h3 {
  width: 100%;
}
.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.home-portfolio-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-portfolio-piece figure {
  width: 90%;
  filter: drop-shadow(1px 2px 6px lightgrey);
}
.home-portfolio-piece h4 {
  font-weight: bold;
}
#work p {
  width: 100%;
  text-align: left;
}
.project-description {
  margin: 0 0 30px 0;
}
#work img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}
.project-link {
  font-size: 1.125rem;
  background-color: #453E4F;
  padding: 0.75rem 3.75rem;
  border-radius: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 40px 0 60px 0;
}


/* -- Skills Styles -- */
#skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  background-color: #453e4f;
  color: #ffe8d6;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.skills-header {
  margin-bottom: 20px;
}
#skills h4 {
  margin: 40px 0 40px 0;
  font-weight: 700;
}
.language-wrapper p,
.tool-wrapper p {
  font-size: 1.125rem;
  color: #453E4F;
  background-color: #F19494;
  text-transform: uppercase;
  padding: 15px 0;
  margin: 20px 0;
}
.tool {
  width: 100%;
}


/* -- About Me Styles -- */
#about {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

}
#about p {
  width: 100%;
  text-align: left;
  color: #4a4f3e;
}
#profile-image {
  width: 90%;
}
#about h3, 
#about h4 {
  color: #4a4f3e;
}
.about-info h3 {
  margin: 40px 0 40px 0;
}
.about-text {
  margin: 0 0 30px 0;
}

/* -- Footer Styles -- */
footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  background-color: #453e4f;
  color: #ffe8d6;
  padding: 80px 0;
}
footer .contact-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
}
footer .contact-info {
  width: 60%;
  color: #ffe8d6;
}
.contact-info {
  margin: 0 0 60px 0;
}
.contact-info  a {
  color: #ffe8d6;
}
.contact-title {
  font-weight: 400;
  margin: 0 0 40px 0;
}
footer .follow-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
footer .social-icons {
  display: flex;
  justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}
footer ul {
  width: 100%;
}
footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-icons li i {
  font-size: 1.875rem;
  color: #ffe8d6;
}
.fab {
  font-family: "Font Awesome 5 Brands";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-linkedin-in:before {
  content: "\f0e1";
}
.fa-github:before {
  content: "\f09b";
}
.fa-twitter:before {
  content: "\f099";
}


/* -- Media Breakpoint Styles -- */

/* Navigation Bar to colum Style for Screen Below 311 */ 
@media only screen and (max-width: 350px) {
  header nav ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
} 

/* -- Tablet Style -- */
@media only screen and (min-width: 768px) {
  .content-wrapper {
    width: 90%;
  }
  figure {
    margin: 20px 0 40px 0;
  }
 
  h2 {
    margin-top: 80px;
  }
  header {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  header .content-wrapper {
    display: flex;
    flex-flow: row wrap;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    text-transform: uppercase;
  }

  nav {
    margin: 0 0 80px 0;
  }
  header nav ul li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px; 
    padding: 20px; 
    text-transform: uppercase;
  }

  .home-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .home-title h2 {
    max-width: 80%;
  }

  /* -- Work Style -- */
  #work {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 80px;
  
  }
  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .home-portfolio-piece {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }
  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    width: 95%;
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 60px 0;
  }
  .skill,
  .tool {
    width: 45%;
  }

  /* -- Skills Styles -- */
  #skills {
    padding-top: 80px;
  }
  #skills h4 {
    margin: 40px 0 20px 0;
  }
  .language-wrapper, 
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }
  .language-wrapper p, 
  .tool-wrapper p {
    background-color: #F19494;
    padding: 15px 0;
    margin: 20px 0;
    text-transform: uppercase;
  }

  /* -- About Me Styles -- */
  #about {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 80px 0;
  }
  
  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .about-info h4 {
    text-align: left;
    
  }

  /* -- Footer Styles -- */
  footer {
    padding-bottom: 80px;
  }

  footer .contact-info {
    width: 33%;
    
  }
  footer .follow-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

}

/* -- Desktop -- */
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1450px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
    margin: 40px 0 0 0;
  }
  h3 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  a {
    color: #453E4F;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 140px;
  }
  header .content-wrapper {
    justify-content: flex-end;
  }  
  header nav {
    justify-content: flex-end;
    width: 70%;
  }
  nav {
    margin-bottom: 80px;
  }
  nav ul li a {
    padding: 10px 10px;
  }
  nav #contact-link {
    background-color: #F19494;
    color: #453e4f;
    padding: 10px 10px;
    border-radius: 30px;
  }
  .home-title {
    max-width: 95%;
  }
 
  .home-title h2 {
    max-width: 70%;
  }

  /* -- Work -- */
  #work {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 80px;
  }
  .portfolio-header {
    margin: 0 0 60px 0;
  }
  .home-portfolio-piece {
    width: 33%;
  }
 
  .project-link {
    font-size: 1rem;
    margin: 40px 0 80px 0;
  }
  .project-description {
    margin: 0 0 30px 0;
  }

   /* -- Skills Styles -- */
  #skills {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #skills .content-wrapper {
    max-width: 900px;
  }
  .skills-header {
    margin-bottom: 40px;
  }
  .skill, 
  .tool {
    width: 30%;
  }

  /* -- About Me Styles -- */
  #about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }
  #about h3, 
  #about h4, 
  #about p {
    color: #4a4f3e;
  }
  #about p {
    width: 100%;
    text-align: left;
  }

  #about figure {
    width: 35%;
    margin-top: 10px;
  }
  .about-info {
    width: 58%;
  }
  .about-info h3 {
    text-align: left;
    margin: 0;
  }
  .about-info h4 {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
    margin: 40px 0;
  }
  .about-text {
    margin: 0 0 30px 0;
  }

  /* -- Footer Styles -- */
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    padding: 140px 0 140px 0;
  }
  footer .content-wrapper {
    max-width: 90%;
  }
  .contact-info {
    margin: 80px 0 80px 0;
  }
  .contact-title {
    font-weight: 400;
    margin: 0 0 30px 0;
  }
}